<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间结合sql的id，用来定位这里定义的sql -->
<mapper namespace="com.dantefung.mybatis_bidirection_association.entity.DeptMapper">
	<!--resultMap用于查询，作结果映射， type指定相关的实体类型， -->
	<resultMap type="com.dantefung.mybatis_bidirection_association.entity.Dept" id="deptResultMap">
		<!-- id用来配置主键和实体类的属性映射，column指定表的字段名，property指定实体类的属性名 -->
		<id column="dept_id" property="deptId" />
		<!-- result用来配置普通字段和实体类的属性映射，column指定表的字段名，property指定实体类的属性名 -->
		<result column="dept_name" property="deptName" />
		<result column="dept_address" property="deptAddress" />
		<!-- collection用来作对多关联配置 -->
		<!-- <collection property="emps" resultMap="com.dantefung.mybatis_bidirection_association.entity.EmpMapper.empResultMap"></collection> -->
	</resultMap>
	
	<!-- 扩展部门map -->
	<resultMap type="com.dantefung.mybatis_bidirection_association.entity.Dept" id="extDeptResultMap" extends="deptResultMap">
		<!-- collection用来作对多关联配置 -->
		<collection property="emps" resultMap="com.dantefung.mybatis_bidirection_association.entity.EmpMapper.empResultMap"></collection>
	</resultMap>

	<!-- 通过部门名称查询部门信息（包括部门所有员工信息） -->
	<select id="selectDeptEmpList" parameterType="String" resultMap="extDeptResultMap">
		select d.*,e.* from dept d inner join emp e on d.dept_id = e.dept_id
		where d.dept_name like #{deptName}
	</select>
	</mapper>